# Who is who in this repo.
# Rias Gremory committed here before her address was real mail.
# This is every address she has used, including the ones git invented.
Rias Gremory <riasofgremory1@gmail.com>
Rias Gremory <rias@artamus.io>
Rias Gremory <rias@gremory.home>
Rias Gremory <rias@gremory-home>
Rias Gremory <rias@goremory-home>
Rias Gremory <rias@artlight.local>
