# Who is who in this repo.
# Rias Gremory committed here before her address was real mail.
# This is every address she has used, including the ones git invented.
# Form: Proper Name <proper@email> <commit@email>
Rias Gremory <riasofgremory1@gmail.com>
Rias Gremory <riasofgremory1@gmail.com> <rias@artamus.io>
Rias Gremory <riasofgremory1@gmail.com> <rias@gremory.home>
Rias Gremory <riasofgremory1@gmail.com> <rias@gremory-home>
Rias Gremory <riasofgremory1@gmail.com> <rias@goremory-home>
Rias Gremory <riasofgremory1@gmail.com> <rias@artlight.local>
