node_modules/
build/
dist/
.cpack_artifacts/
.vscode/
public/
src_assets/types/
.d.ts
third-party/
coverage/
*.md
*.MD
*.yml
*.yaml
**/*.md
**/*.MD
**/*.yml
**/*.yaml

node_modules/
build/
dist/
coverage/
public/
**/*.md
**/*.yml
**/*.yaml
