[Desktop Entry]
Categories=RemoteAccess;Network;
Comment=@PROJECT_DESCRIPTION@
Exec=artlight
Icon=io.github.onaiaku.ArtLight
Keywords=artlight;gamestream;stream;moonlight;remote play;
Name=@PROJECT_NAME@
Terminal=true
Type=Application
Version=1.0
X-AppImage-Arch=x86_64
X-AppImage-Name=artlight
X-AppImage-Version=@PROJECT_VERSION@
